<div>
    <h4>Component 1</h4>
</div>
<table>
    <tr>
        <td>
            Manufacturer : 
        </td>
        <td>
            <select name="Select Manufacturer" id="ddlmanu" (change)="onChange($event.target.value)">
                <option value="All">ALL</option>
                <option value="India">INDIA</option>
                <option value="German">GERMAN</option>
                <option value="Japan">JAPAN</option>
            </select>
        </td>

    </tr>
</table>
<table>
    <thead>
        <tr>
            <th>
                Brands
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Logo
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let brand of carBrands;">
            <tr *ngIf="ddlselectedvalue=='All' || ddlselectedvalue==brand.manufacturer">
                <td>
                    {{brand.brandName}}
                </td>
                <td>
                    {{brand.manufacturer}}
                </td>
                <td>
                    <img src='https://imgd.aeplcdn.com/0X0/cw/brands/logos/{{brand.imgurl}}' width="40" />
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>