<div class="container">
    <h2>
        Assignment 1, 6 & 7
    </h2>
    <div class="row">
        <div class="col-4">
            <car-brand></car-brand>
        </div>
        <div class="col-4">
            <car-bodytype></car-bodytype>
        </div>
        <div class="col-4">
            <car-fueltype></car-fueltype>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-4">
            <h2>
                Assignment 2
            </h2>
            <my-time></my-time>
        </div>
        <div class="col-4">
            <h2>
                Assignment 3
            </h2>
            <my-week></my-week>
        </div>
        <div class="col-4">
            <h2>
                Assignment 8
            </h2>
            <my-casecheck></my-casecheck>
        </div>
    </div>
</div>