<div>
    <h4>Component 2</h4>
</div>
<table>
    <thead>
        <tr>
            <th>
                Body Types
            </th>
            <th>
                No Of Seater
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let type of carBodyTypes;">
            <td>
                {{type.brandType}}
            </td>
            <td>
                {{type.NoofSeater}}
            </td>
            <td>
                <img src='{{type.imgurl}}' width="40" />
            </td>
        </tr>
    </tbody>
</table>